<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'game/css/base.css' %}">
</head>
<body>
    <div id="page">
        <h1>Join Game</h1>
        
        <form method="POST">
            {% csrf_token %}
        
            <input type="text" name="name" placeholder="Enter your name">
            <button type="submit">Join</button>
        </form>
    </div>
</body>
</html>